# Distribution / packaging
dist/
*.egg-info/

# Sphinx documentation
docs/build/
docs/source/_generated

# Environments
venv/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# PyHelpers
.idea
tests/*
!tests/data/
!tests/documents/
!tests/images/
!tests/*.py
.pypirc
