# Environment
venv/
.idea/
*/vscode/
**/__pycache__/

# Sphinx documentation
*/build/
**/_generated/

# Jupyter Notebook
**/.ipynb_checkpoints/

# Tests and code coverage
.coverage
.coverage.*
reports/
.pytest_cache/

# Distribution / packaging
dist/
*.egg-info/

# Project-specific directories / files
*[!_]_.py
tutorials/*
.pypirc
cmd.md
