# Distribution / packaging
dist/
*.egg-info/

# Sphinx documentation
docs/build/
docs/source/_generated

# Environments
venv/
*/vscode/*
settings.json
*Completion.json
*/__pycache__/*

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# pytest / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Project
.idea
tests/*
!tests/data/
!tests/documents/
!tests/images/
!tests/*.py
tutorials/*
.pypirc
cmd.txt
