bleach >= 3.1.0
certifi >= 2019.6.16
chardet >= 3.0.4
cycler >= 0.10.0
docutils >= 0.14
et-xmlfile >= 1.0.1
fuzzywuzzy >= 0.17.0
GDAL >= 2.4.1
idna >= 2.8
jdcal >= 1.4.1
kiwisolver >= 1.1.0
matplotlib >= 3.1.1
nltk >= 3.4.4
numpy >= 1.16.4
openpyxl >= 2.6.2
pandas >= 0.25.0
pdfkit >= 0.6.1
pkginfo >= 1.5.0.1
Pygments >= 2.4.2
pyparsing >= 2.4.0
pyproj >= 2.2.1
python-dateutil >= 2.8.0
python-rapidjson >= 0.7.2
pytz >= 2019.1
readme-renderer >= 24.0
requests >= 2.22.0
requests-toolbelt >= 0.9.1
six >= 1.12.0
tqdm >= 4.32.2
twine >= 1.13.0
urllib3 >= 1.25.3
webencodings >= 0.5.1
xlrd >= 1.2.0
XlsxWriter >= 1.1.8
