bleach>=3.1
certifi>=2019.6
chardet>=3.0
cycler>=0.10
docutils>=0.14
et-xmlfile>=1.0
feather-format>=0.4
fuzzywuzzy>=0.17
GDAL>=2.4,<3.0
idna>=2.8
jdcal>=1.4
kiwisolver>=1.1
matplotlib>=3.1
nltk>=3.4
numpy>=1.16
openpyxl>=2.6
pandas>=0.25
pdfkit>=0.6
pkginfo>=1.5
Pygments>=2.4
pyparsing>=2.4
pyproj >= 2.2
python-dateutil>=2.8
python-rapidjson>=0.7
pytz>=2019.1
readme-renderer>=24.0
requests>=2.22.0
requests-toolbelt>=0.9
scipy>=1.2
Shapely>=1.6
six>=1.12
tqdm>=4.32
twine>=1.13
urllib3>=1.25
webencodings>=0.5
xlrd>=1.2
XlsxWriter>=1.1
